<!DOCTYPE html>
<html lang='en'>

<head>
    <title>Webstore</title>
</head>

<body>
    <h1>Welcome to WEBSTORE</h1>

    <h3> Make orders at <a href='orders.html'>orders page.</a></h3>

    <h3>Product Pages:</h3>
    <ul style="list-style-type: square;">
        <li><a href='product01.html'>Product 01</a></li>
        <li><a href='product02.html'>Product 02</a></li>
        <li><a href='product03.html'>Product 03</a></li>
        <li><a href='product04.html'>Product 04</a></li>
        <li><a href='product05.html'>Product 05</a></li>
        <li><a href='product06.html'>Product 06</a></li>
        <li><a href='product07.html'>Product 07</a></li>
        <li><a href='product08.html'>Product 08</a></li>
        <li><a href='product09.html'>Product 09</a></li>
        <li><a href='product10.html'>Product 10</a></li>
        <li><a href='product11.html'>Product 11</a></li>
        <li><a href='product12.html'>Product 12</a></li>
        <li><a href='product13.html'>Product 13</a></li>
        <li><a href='product14.html'>Product 14</a></li>
        <li><a href='product15.html'>Product 15</a></li>
        <li><a href='product16.html'>Product 16</a></li>
        <li><a href='product17.html'>Product 17</a></li>
        <li><a href='product18.html'>Product 18</a></li>
        <li><a href='product19.html'>Product 19</a></li>
        <li><a href='product20.html'>Product 20</a></li>
    </ul>
</body>

</html>