<!DOCTYPE html>
<html lang='en'>

<head>
    <title>Webstore</title>
</head>

<body>
    <h1>Welcome to WEBSTORE</h1>

    <h3> Make orders at <a href='orders.html'>orders page.</a></h3>

    <h3>Product Pages:</h3>
    <ul style="list-style-type: square;">
        <li><a href='product01.html'>Prodcut 01</a></li>
        <li><a href='product02.html'>Prodcut 02</a></li>
        <li><a href='product03.html'>Prodcut 03</a></li>
        <li><a href='product04.html'>Prodcut 04</a></li>
        <li><a href='product05.html'>Prodcut 05</a></li>
        <li><a href='product06.html'>Prodcut 06</a></li>
        <li><a href='product07.html'>Prodcut 07</a></li>
        <li><a href='product08.html'>Prodcut 08</a></li>
        <li><a href='product09.html'>Prodcut 09</a></li>
        <li><a href='product10.html'>Prodcut 10</a></li>
        <li><a href='product11.html'>Prodcut 11</a></li>
        <li><a href='product12.html'>Prodcut 12</a></li>
        <li><a href='product13.html'>Prodcut 13</a></li>
        <li><a href='product14.html'>Prodcut 14</a></li>
        <li><a href='product15.html'>Prodcut 15</a></li>
        <li><a href='product16.html'>Prodcut 16</a></li>
        <li><a href='product17.html'>Prodcut 17</a></li>
        <li><a href='product18.html'>Prodcut 18</a></li>
        <li><a href='product19.html'>Prodcut 19</a></li>
        <li><a href='product20.html'>Prodcut 20</a></li>
    </ul>
</body>

</html>